.black-box {
  background: url(images/Blue-box-gradient.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  width: 600px;
  max-width: 100%;
  margin: 0;

  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-grid {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 24px;
  align-items: center;

  width: min(1100px, 100%);
  margin: 20px auto;
  padding: 0 20px;
}

.profile-pic {
  grid-column: 1;
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0;
}

body {
  min-height: 100vh;
  background: linear-gradient(to top, #ffffff 0%, #fafafa 80%);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

html,
body {
  height: 100%;
  margin: 0;
}


main {
  flex: 1;
}

.right-col {
    grid-column: 2;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.btn {
  display: inline-block;
  padding: 12px 18px;
  background: #5f005f;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-weight: 600;

  margin-left: 50px;
}

.btn:hover {
  filter: brightness(1.1);
}

.text1 h1,
.text1 h2 {
  margin: 5;
  font-family: "Limelight";
  color: white;

  text-align: center;
}

.my-skills {
    margin-top: -20%;
    font-size: 150%;
}

.site-footer {
  padding: 20px;
}

.skills {
  grid-column: 1 / -1;
  text-align: center;
  font-family: "Limelight";
  font-weight: 300;
}

.list {
    padding-top: 25px;
    height: 30%;
    display: inline-block;
    text-align: left;
    padding-left: 1.2em;
    margin: 0 auto;
    font-display: block;
}

.my-exp {
    margin-top: 5%;
}
